/*変数*/
:root {
    --f1: 2.44em;
    --f2: 1.95em;
    --f3: 1.56em;
    --f4: 1.25em;
    --f5: 1.00em;
    --f6: 0.80em;
}

body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: [head]100px [main aside] auto [foot] 100px;
    grid-column-gap: 5%;
    grid-row-gap: 2%;
}

header {
    grid-row: head;
    grid-column: 3 / span 4;
    text-align: center;
}

aside {
    grid-row: aside;
    grid-column: 1 / span 2;
}

main {
    grid-row: main;
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: [title]100px [button]30px [main]500px; 
    grid-row-gap: 2%;
    grid-column-gap: 1%;
}

#md-title {
    grid-row: title;
    grid-column: 1 / span 6;
    padding: 5px;
    margin: auto;
}

#md-save {
    grid-row: button;
    grid-column: 1 / 2;
    padding: 5px;
    margin: auto;
}

#md-editor {
    grid-row: main;
    grid-column: 1 / span 6;
}